<h1 align="center"> About PT Clinic <br/>
                           <h4 align="center"> by Clinicians to Clinicians </h4></h1>
<%= render '/layouts/navigation/' %>
<div>
    This will be a personal clinical record Physical Therapist would like to note about his patient. This is  NOT a medical record, it is  a quick reminder/note about pt status, progress and changes. Privacy is highly valued in this website.
RULES:</br/>
1. Only the Clinician and the Admin can have access to his personal notes.<br/>
2. The Clinican will create his own codes or cheat sheet for note taking which can be transcribed later at a more formal EMR (Electronic/Paper Medical Record).<br/>
3. This website will only allow you to enter 2 letter initials and other unique codes (that you create) about your patient, again, for privacy  reasons.<br/>
4. This is a work-in-progress.
</div>
