<html>
<head><title>PT Clinic </title></head>
<body> <h1 align="center"> Welcome to PT Clinic <br/>
                           <h4 align="center"> by Clinicians to Clinicians </h4></h1>
<%= render '/layouts/navigation' %>
<%= link_to "PT Clinic", articles_path %>
</body>
</html>

